*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.output-table ul {
      display: flex;
      list-style: none;

}

.output-table ul li {
      border: 1px solid #eee;
      flex-basis: 33%;
      text-align: center;
      padding: 5px;



}

.output-table ul:first-child{
      font-weight: bold;
      background-color: azure;
}



